@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Sora', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #F8F5F5;
  color:#FFFFFF;
  font-family: 'Sora', sans-serif;
  /* width: 100%; */
  /* min-height: 100vh; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

/* Container padrão para todas as páginas */
.layout-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #0f0f0f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

#top-ten,
section {
  scroll-margin-top: 28rem;
}
